*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  letter-spacing: 1px;
}
.container__app{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}
.container__quiz{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  flex-flow: column;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  
}
.quiz__header{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  height: 20%;
  color:white;
  justify-content: center;
  background-color: #334456;
}
.main__quiz{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-flow: column;
  margin-top: 10px;
}
.main__quiz h3{
  font-size: 16px;
}
.box_score{
  display: flex;
  flex-direction: column;
}
.quiz__footer{
  display: flex;
  width: 100%;
  height: 140px;
  bottom: 0;
  justify-content: center;
  border-color: #334456;
  background-color: #334456;
  border-radius: 0px 0px 10px 10px;
}
.box_question{
  margin-top: 20px;
}
.box__sugestion{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}
ul{
  display: flex;
  width: 85%;
  margin: 0;
  padding: 0;
  flex-flow: column;

}
li{
  list-style: none;
  line-height: 1;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}
li>div{
  float: right;
  margin-top: 7px;
  margin-right: 7px;
  color: white;
  font-size: 26px;
}
li:hover{
  background-color: burlywood;
}
.box__buttom{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.box__buttom button{
  width: 160px;
  height:40px;
  outline: none;
  border: 0;
   color: white;
   font-weight: 900;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  margin: auto;
  background-color: gray;
}

li.correct{
  border: 1px solid rgb(74, 219, 74);
  background-color: rgb(74, 219, 74);
  color: white;
  font-weight: 600;
}

li.false{
  border:  1px solid rgb(240, 117, 100);
  background-color: rgb(240, 117, 100);
  color:white;
  font-weight: 600;
}

